# Ignore the following files
*.log
*.pot
*.pyc
__pycache__/

# Ignore OS X files
.DS_Store

# Ignore local settings (if present)
local_settings.py

# Ignore collected static files
/static/
/staticfiles/

# Ignore uploaded media files
/media/

# Ignore vagrant files
.vagrant

# Ignore db.sqlite3
db.sqlite3

# Ignore coverage test results
/_test_results/
.coverage
