# Install Django. 
# Avoiding the new 3.1 until a few tests are done.
Django==3.0.12

# Required for Django timezones. This is from the django docs: https://docs.djangoproject.com/en/dev/topics/i18n/timezones/
pytz

# Postgres Database Adapter (requires 'python3-dev' and 'libpq-dev' packages in Ubuntu)
psycopg2

# Database config loader
dj-database-url
